@charset "UTF-8";

/* 
    em HTML é id = em CSS é # 
    em HTML é class = em CSS é .
*/

body{
    background-color: #b2c7b4;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #002c0a;
}
h2{
    color: #002c0a;
} 

#principal{ text-align: center;
    background-color: #008000;
    color:#ffffff   
}
.basico{
color:#ffff00
}
.intermediario{
    color:#0000ff;
}
.avancado{
    color: #ff0000;
}
img.imagemtst{
    display: block;
    margin-left: auto;
    margin-right: auto;
}